@{
    ViewData["Title"] = "Home Page";
}

<input id="user" type="text" name="username">
<input id="pass" type="text" name="password">
<button onclick="Login()">Login</button>
<button onclick="GetSession()">getSession</button>
<button onclick="GetAdminSession()">getAdminSession</button>
<button onclick="Logout()">Logout</button>

<script>
    const inputUsername = document.getElementById("user");
    const inputPass = document.getElementById("pass");

    async function Login() {
        console.log(inputUsername.value, inputPass.value)

        const data = {
            username: inputUsername.value,
            password: inputPass.value
        }

        await fetch("http://localhost:7077/auth/Session/login", {
            method: "POST",
            body: JSON.stringify(data),
            headers: {
                "Content-Type": "application/json"
            },
            credentials: "include"
        }).then(res => console.log(res));
    }

    async function GetSession() {
        const accessToken = getCookie("accessToken");
        await fetch("http://localhost:7077/auth/Session/user", {
            method: "GET",
            headers: {
                "Content-Type": "application/json",
                "Authorization": "Bearer " + accessToken
            },
            credentials: "include"
        }).then(res => console.log(res));
    }
    async function GetAdminSession() {
        const accessToken = getCookie("accessToken");
        await fetch("http://localhost:7077/auth/Session/admin", {
            method: "GET",
            headers: {
                "Content-Type": "application/json",
                "Authorization": "Bearer " + accessToken
            },
            credentials: "include"
        }).then(res => console.log(res));
    }
    async function Logout() {
        const accessToken = getCookie("accessToken");
        await fetch("http://localhost:7077/auth/Session/logout", {
            method: "DELETE",
            headers: {
                "Content-Type": "application/json",
                "Authorization": "Bearer " + accessToken
            },
            credentials: "include"
        }).then(res => console.log(res));
    }
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }
</script>